# Global Ignores
venv/
.DS_Store
Thumbs.db

# Disilia Specific (as subdirectory)
Disilia/db.sqlite3
Disilia/db.sqlite3-journal
Disilia/media/
Disilia/staticfiles/
Disilia/.env
Disilia/__pycache__/
Disilia/local_settings.py
Disilia/*.log
Disilia/.vscode/
Disilia/*.py[cod]
Disilia/*$py.class
