asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==4.2.30
django-crispy-forms==2.5
django-unfold==0.90.0
idna==3.12
pillow==12.2.0
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
stripe==15.0.1
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
whitenoise==6.9.1
gunicorn==23.0.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
